.postContainer {
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 1.5rem;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.8;
  color: #222;
}

/* --- Metadata Section --- */
.metadataContainer {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.dateContainer {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.tagContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0 0;
  padding: 0;
}


.tag a{
  text-decoration: none;
  color: inherit;
}

.metadataContainer h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #111;
}

/* Adjacent Posts */
.adjacentPosts {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  padding-top: 1.5rem;
}

.adjacentPosts a {
  padding-left:1rem;
}


/* --- Related Posts --- */
.relatedPosts {
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  padding-top: 1.5rem;
}

.relatedPosts h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.relatedPosts ul {
  padding: 0;
  margin: 0;
}

.relatedPosts li {
  margin: 0.2rem 0;
}

.relatedPosts li span {
  display:  flex;
  align-items: center;
  gap: 0.5rem;
}

.relatedPosts a {
  color: #0070f3;
  text-decoration: none;
}

.relatedPosts a:hover {
  text-decoration: underline;
}