.container {
  max-width: 720px;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
}

.author,
.project,
.tech {
  margin-bottom: 2rem;
}


.homeLink {
  color: var(--color-text-link);
  text-decoration: none;
  cursor: pointer;
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.snsLink {
  color: var(--color-brand-primary);
}