.container {
  max-width: 720px;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: #222;
}

.author, .project, .tech {
  margin-bottom: 2rem;
}


.homeLink {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.snsLink {
  border-bottom: 1px solid var(--color-accent);
  color: var(--color-accent);
}