/* Sample global style */
:root {
  --color-bg: #fafafa;
  --color-text: #222;
  --color-accent: #0070f3;
  --color-border: #eaeaea;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), sans-serif;        
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

header {
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
  padding: 1.2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

audio,
video {
  display: block;
  margin: 1em 0;
  max-width: 100%;
}

.title-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;;
  text-decoration: none;
}

.title {
  margin: 0;
  color: var(--color-accent);
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p a {
  border-bottom: 1px solid var(--color-accent);
  color: var(--color-accent);
}

h1, h2, h3, h4 {
    scroll-margin-top: 9rem; /* ヘッダーの高さに合わせる */
}
.title a {
  text-decoration: none;
  color: var(--color-accent);
}

nav {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  transition: color 0.2s, border-color 0.2s;
  border-bottom: 2px solid transparent;
}

.nav-li a:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.rss-link  {
  color: #f26522; /* RSSオレンジ */
  transition: color 0.2s ease;
  text-decoration: none;
}
.rss-link:hover  {
  color: #ff8c42;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem 1.5rem;
  padding-bottom: 32px;
  background: #fff;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}