.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  /* Responsive columns */
  gap: 1.5rem;
  /* Space between cards */
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  /* Reset previous list item styles */
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  /* Ensure height stretches if needed */
  flex-direction: column;
}

.item:last-child {
  border: none;
}