.nav {
  font-weight: bold;
  border-left: 1px solid var(--color-gray0);
  overflow-y: auto;
}
.toc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    list-style: none;
}

.tocSub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    list-style: none;
}

.tocItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* アクティブな目次アイテムのスタイル */
.active > a {
  color: var(--color-accent);
}

/* アクティブな目次アイテムのリスト要素に左ボーダーをつけるなど */
.active {
  border-left: 2px solid var(--color-accent);
  padding-left: 5px; /* ボーダー分のスペースを確保 */
}