.adjacentPageButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--color-brand-primary);
}

.adjacentPageButton:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--color-brand-primary);
}