.adjacentPageButton {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--color-brand-primary);
}

.adjacentPageButton:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--color-brand-primary);
}

.container {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.title {
    margin-bottom: 2rem;
    color: var(--color-text-header);
    border-bottom: 2px solid var(--color-bg-secondary);
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        padding: 2rem 1rem;
    }
}